<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="/static/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/dist/css/icon.css" />
</head>
<script>
    // var _t = <?php echo $post_hash_var_name; ?>="<?php echo new_post_hash(); ?>";
    // var G_POST_HASH=_<?php echo $post_hash_var_name; ?>;
    var G_INDEX_SCRIPT = "<?php if (get_setting('url_rewrite_enable') != 'Y') echo G_INDEX_SCRIPT; ?>";
    var G_SITE_NAME = "<?php echo addcslashes(get_setting('site_name'), '\"'); ?>";
    var G_BASE_URL = "<?php echo base_url(); if (get_setting('url_rewrite_enable') != 'Y') { ?>/<?php echo rtrim(G_INDEX_SCRIPT, '/'); } ?>".indexOf('http') != -1
        ? "<?php echo base_url(); if (get_setting('url_rewrite_enable') != 'Y') { ?>/<?php echo rtrim(G_INDEX_SCRIPT, '/'); } ?>"
        : '';
    window.G_STATIC_URL = "<?php echo G_STATIC_URL; ?>".indexOf('http') > -1 ? "<?php echo G_STATIC_URL; ?>" : '/static';
    var G_UPLOAD_URL = "<?php echo get_setting('upload_url'); ?>";
    var G_USER_ID = "<?php echo $this->user_id; ?>";
    var G_MOBILE_VALID = "<?php echo $this->user_info['mobile_valid']; ?>";
</script>
<body>
